.MuiTypography-h1 {
  font-size: 24px !important;
  color: #2d7c99 !important;
}

.logoCard {
  width: 120px !important;
  min-height: auto !important;
}

.MuiButton-root {
  width: 90%;
  background-color: #2d7c99 !important;
  margin: 40px auto 20px auto !important;
}

.MuiTextField-root {
  width: 90%;
  margin: 10px 0 !important;
}

form {
  margin: 50px auto;
}
